<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
</head>
<style>
table{width:100%;}
table td, table th { border: 1px solid grey;}
table th { background: #eee;}
.pagination-div{user-select: none;}
.pagination-div span{border-radius:3px;border:1px solid #999;
   padding:5px;margin:10px 0px 0px 10px;display:inline-block}
span.selected{background:#ccf;}
#menu {
    float: left;
    width: 10%;
    height: 570px;
    background: #eee;
    padding: 20px;
}

#menu1{
	height: 100px;
	border-style: none;
}
#menu2{
	height: 100px;
	border-style: none;
}
#menu3{
	height: 100px;
	border-style: none;
}
</style>
<body>
	<nav th:replace="layout :: header"></nav>
	<div th:replace="layout :: menu"></div>

	<div class="container" id="main-content">
		<div class ="row">


		</div>
		<div class="row">
<!--			<div class="col-6 no-padding">-->
<!--				<form class="form-inline" th:action="@{/admin}" method="get" >-->
<!--					<input class="form-control mr-sm-2"   type="search" name="name" th:value="*{name}" placeholder="Search by name ..."  />-->
<!--					<button class="btn btn-primary" id="btn-search" type="submit">-->
<!--						<i class="fa fa-search"></i>-->
<!--					</button>-->
<!--				</form>-->
<!--			</div>-->

<!--			<div class="col-6 no-padding">-->
<!--				<a href="#" th:href="@{/listuser/add}" class="btn btn-warning float-right">-->
<!--					<i class="fa fa-plus-square"></i> Tạo User-->
<!--				</a>-->
<!--			</div>-->
		</div>

		<div class="row mt-4">
			<div th:if="${successMessage}" class="col-12 alert alert-success alert-dismissible fade show" role="alert">
				<span th:text="${successMessage}"></span>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>


			</th:block>
			<th:block th:if="${#lists.isEmpty(order)}">
				<h5>Không Tìm Thấy Sản Phẩm</h5>
			</th:block>

			<th:block th:unless="${#lists.isEmpty(order)}">
				<div class="table-responsive">
					<label>
					<h5 class="font-weight-bold">Thông Tin Đơn Hàng</h5>
					</label><br>
					<a class="btn btn-warning" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Thông Tin Khách Hàng</a>

					<div class="row">
						<div class="col">
							<div class="collapse multi-collapse" id="multiCollapseExample1">
								<div class="card card-body">
									<form >
										<label class="font-italic">Tên Khách Hàng: <a th:text="${ordertt.customerName}"></a></label><br>
										<label class="font-italic">Số Điện Thoại: <a th:text="${ordertt.phoneNumber}"></a></label><br>
										<label class="font-italic">Địa Chỉ Nhận Hàng: <a th:text="${ordertt.shipAddress}"></a></label><br>
										<label class="font-italic">Tổng Số Tiền: <a th:text="${#numbers.formatDecimal(ordertt.totalMoney, 0, 'COMMA', 0, 'POINT')}"></a></label>
									</form>
								</div>
							</div>
						</div>
					</div>

<!--					<form >-->
<!--					<label>Tên Khách Hàng: <a th:text="${ordertt.customerName}"></a></label><br>-->
<!--					<label>Số Điện Thoại: <a th:text="${ordertt.phoneNumber}"></a></label><br>-->
<!--					<label>Địa Chỉ Nhận Hàng: <a th:text="${ordertt.shipAddress}"></a></label><br>-->
<!--					<label>Tổng Số Tiền: <a th:text="${#numbers.formatDecimal(ordertt.totalMoney, 0, 'COMMA', 0, 'POINT')}"></a></label>-->
<!--					</form>-->
					<table class="table table-bordered table-hover">
						<thead class="thead-dark">
						<tr>
							<th>Stt</th>
							<th>Logo</th>
							<th>Tên Sản Phẩm</th>
							<th>Hãng</th>
							<th>Hình Ảnh</th>
							<th>Giá Sản Phẩm</th>
							<th>Số Lượng</th>
<!--							<th>Trạng Thái</th>-->
<!--							<th>Action</th>-->

						</tr>
						</thead>
						<tbody class="list-user">
						<tr th:each="list,state : ${order}" th:data-id="${list.orderItemId}">
							<th scope="row" th:text="${state.count}"></th>
							<td><img style="max-width: 100px; height: auto" th:src="@{${list.product.brand.thumbnail}}" class="rounded-circle"></td>
							<td th:text="${list.product.name}"></td>
							<td th:text="${list.product.brand.name}"></td>
							<td><img style="max-width: 100px; height: auto" th:src="@{${list.product.thumbnail}}"class="rounded"></td>
							<td th:text="${#numbers.formatDecimal(list.product.price, 0, 'COMMA', 0, 'POINT')}"></td>
							<td th:text="${list.quantity}"></td>
<!--							<td th:text="${list.role}"></td>-->
<!--							<td>-->
<!--								<a href="#" th:href="@{/listuser/{id}/edit(id=${list.id})}" class="mr-sm-2 text-primary">-->
<!--									<i class="fa fa-pencil"></i>-->
<!--								</a>-->
<!--								<a th:onclick="'deleteUser('+${list.id}+')'" class="text-danger">-->
<!--									<i class="fa fa-trash"></i>-->
<!--								</a>-->
<!--							</td>-->
						</tr>
						</tbody>
					</table>
					<hr/>
<!--					<ul class="nav nav-pills">-->
<!--						<li class="nav-item" th:each="i: ${#numbers.sequence(1,listuser.totalPages)}">-->
<!--							<a id="page"  th:href="@{/(page=${i})}" th:text="${i}" class="nav-link"-->
<!--							th:classappend="${currentPage}==${i}?'active':''"></a>-->
<!--						</li>-->
<!--					</ul>-->
<!--					<div class="pagination-div">-->
<!--    <span th:if="${listuser.hasPrevious()}">-->
<!--        <a th:href="@{/admin(page=${listuser.number-1},size=${listuser.size},name=${name})}">Previous</a>-->
<!--    </span>-->
<!--						<th:block th:each="i: ${#numbers.sequence(0, listuser.totalPages-1 )}">-->
<!--							<span th:if="${listuser.number == i}" class="selected">[[${i}+1]]</span>-->
<!--							<th:block th:unless="${i} < 0">-->
<!--							<span th:unless="${listuser.number == i}">-->
<!--             <a th:href="@{/admin(page=${i},size=${listuser.size},name=${name})}">[[${i}+1]]</a>-->

<!--        </span>-->
<!--							</th:block>-->
<!--						</th:block>-->
<!--						<span th:if="${listuser.hasNext()}">-->
<!--        <a th:href="@{/admin(page=${listuser.number+1},size=${listuser.size},name=${name})}">Next</a>-->
<!--    </span>-->
<!--					</div>-->


				</div>
			</th:block>
		</div>
	</div><!-- /.container -->

	<footer th:replace="layout :: footer"></footer>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			hello();
        });

		function hello() {
			console.log("Hello World");
		};
		function deleteUser(id) {
			$.ajax({
				url: 'http://localhost:8080/user/'+id,
				type: "DELETE",
				error: function(data) {
				    console.log(data)
				},
				success: function(data) {
				    alert("Xóa thành công")
				    $(".list-user tr[data-id='"+id+"']").remove()
				}
			});
			return false;
		};

		function changePageAndSize() {
    $('#pageSizeSelect').change(function(evt) {
        window.location.replace("/?pageSize=" + this.value + "&page=1");
    });

}

	</script>

</body>
</html>